.example {
  max-width: 400px;
  margin: auto;
  margin-top: 100px;
  /* display: flex; */
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  /* display: flex; */
}

.example-full-width {
  width: 100%;
  /* display: flex; */
}
.button{
  width: 100%;
  /* margin: auto; */
}