.sidenav-container {
    /* width: 100%; */
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    /* position: fixed; */
    z-index: 1;
    background: #74f354;
}

.text {
    color: #000000;
    /* position: fixed; */
    font-size: 30px;
    margin-left: 10px;
}

.button1 {
    font-size: 18px;
    margin-left: 8px;
    color: #000000;
    /* margin-right: auto; */
    margin-left: auto;
}

.button2 {
    font-size: 15px;
    margin-left: 8px;
    color: #000000;
    /* margin-right: auto; */
    /* margin: auto; */
}

.button3 {
    font-size: 15px;
    margin-left: 8px;
    color: #000000;
    /* margin-right: auto; */
    margin-left: auto;
}
