/*  */

.example-card {
    max-width: 400px;
    margin: auto;
    margin-top: 30px;
}
.example-card2 {
    max-width: 400px;
    margin: auto;
    margin-top: 10px;
}

/* .example-card2 {
    max-width: 600px;
    margin: auto;
    margin-top: 30px;
} */

.cardd {
    max-width: 400px;
    margin: auto;
    /* margin-top: 30px; */
}

.divvv {
    display: flex;
}

.example-header-image {
    background-size: cover;
}

.button1 {
    width: 100%;
    margin: auto;
    margin-top: 10px;
    margin-left: 5px;
    /* margin-right: 5px; */
}

.button2 {
    width: 70%;
    margin: auto;
    margin-top: 10px;
    margin-left: 5px;
    /* margin-right: 5px; */
}

.input {
    width: 100%;
    margin-bottom: 10px;
    margin-left: 10px;
    /* border: 1px solid black; */
}

.cc77 {
    width: 100px;
    height: 100px;
    margin-left: 10px;
    /* margin:  auto; */
    /* border: 1px solid black; */
}

.uploadfilecontainer {
    background-image: url("../../../assets/image/cloud-2044823_960_720.png");
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: center;
    height: 150px;
    width: 70%;
    margin: 20px auto;
    border: 2px dashed #1C8ADB;
    border-radius: 10px;
}

.uploadfilecontainer:hover {
    cursor: pointer;
    background-color: #9ecbec !important;
    opacity: 0.8;
}

.files-list {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 10px auto;
    background: #ffffff;
    border: 1px dashed;
    border-radius: 12px;
    padding: 5px;
    color: #1c8adb;
}

.files-list .delete-file {
    background: transparent;
    border: none;
    cursor: pointer;
}

.files-list .delete-file img {
    width: 30px;
}

.mat-radio-button~.mat-radio-button {
    margin-left: 16px;
}

.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

.example-radio-button {
    margin: 5px;
}